body {
  background-color: #232323;
  color: #fff;
}

#container {
  margin: 0 auto;
  max-width: 700px;
}

.square {
  width: 30%;
  height: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

.controls {
  background: #fff;
  text-align: center;
  height: 30px;
}

.controls span {
  color: #232323;
}

.selected {
  background: blue;
}


/*.controls button {
  height: 30px;
  border: none;
  outline: none;
  background: #bcb;
}*/