body {
  background-color: #232323;
  color: #fff;
  margin: 0;
  font-family: "Montserrat", "Avenir";
}

h1 {
  background: steelblue;
  color: #fff;
  font-weight: 100;
  font-size: 25px;
  line-height: 1.1;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding: 15px 0;
}

#container {
  margin: 0 auto;
  max-width: 700px;
  padding: 10px;
}

#color-display {
  display: block;
  font-size: 200%;
}

.square {
  width: 30%;
  height: 30%;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

.controls {
  background: #fff;
  text-align: center;
  height: 30px;
}

.controls span {
  color: #232323;
}

.selected {
  color: #fff;
  background: steelblue;
}

button {
  border: none;
  color: steelblue;
  background: none;
  font-size: inherit;
  font-weight: 700;
  height: 30px;
  letter-spacing: 1px;
  outline: none;
  text-transform: uppercase;
  transition: all .3s;
}

button:hover {
  cursor: pointer;
  color: #fff;
  background: steelblue;
}

#message {
  display: inline-block;
  width: 20%;
}

.square {
  border-radius: 5px;
  -webkit-transition: background .4s;
  -moz-transition: background .4s;
  transition: background .4s;
}