<% include partials/header %>

<h1>Campgrounds</h1>

<% campgrounds.forEach(campground => { %>
  <div>
    <h4><%= campground.name %></h4>
    <img class="img-responsive" src="<%= campground.image %>" alt="<%= campground.name %>">
  </div>
<% }); %>

<% include partials/footer %>